--find-links https://download.pytorch.org/whl/cu118
torch==2.6.0
torchvision==0.21.0
torchaudio==2.6.0
git+https://github.com/openai/whisper.git@517a43ecd132a2089d85f4ebc044728a71d49f6e
pydub==0.25.1
pandas==2.2.3
soundfile==0.13.1
streamlit==1.32.2
zipfile36==0.1.3